<section class="org-teams-tab">
    <div class="team-nav-bar">
        <app-nav-bar> </app-nav-bar>
    </div>
    <div class="team-tab-menu">
        <p-tabView [scrollable]="true">
            <p-tabPanel header="Header 1">
                <div class="content-section">
                    <div class="team-details-section">
                        <div class="card-section add-player-section">
                            Add player
                        </div>
                        <div class="card-section view-players-section">
                            View all players
                        </div>
                        <div class="card-section budget-section">
                            View budget
                        </div>
                
                    </div>
                    <div class="team-statics-section">
                        We are 100 % win
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </div>
</section>