<section class="org-details-container">
    <div class="add-team-container">
        <button [disabled]="myOrganisationdata?.MaxGroupSize && myOrganisationdata?.Members && (myOrganisationdata?.MaxGroupSize==myOrganisationdata?.Members?.length)"
        type="button" pButton label="Add Team"
        (click)="openAddGroupDetailsPopUp()"></button>
    </div>
    <div class="team-tab-menu">
        <p-tabView (onChange)="getWinRatio(($event))" [activeIndex]="selectedIndex">
            <p-tabPanel  [header]="teamDetails.GroupName" *ngFor="let teamDetails of allTeams; let i = index"
                [selected]="i == 0">
                <div class="content-section">
                    <div class="team-details-section">
                        <div class="card-section add-player-section">
                            <span>
                                Add player
                            </span>
                            <div>
                                <button
                                    [disabled]="myOrganisationdata?.MaxGroupSize && myOrganisationdata?.Members && (myOrganisationdata?.MaxGroupSize==myOrganisationdata?.Members?.length)"
                                    type="button" pButton icon="pi " label="Add Player"
                                    (click)="openAddPlayerDialog(teamDetails)"></button>
                                <!-- disabled -->
                            </div>

                        </div>
                        <div class="card-section view-players-section">
                            <span>
                                View All Players
                            </span>
                            <div>
                                <button type="button" pButton icon="pi" label="Players List"
                                    (click)="navigateToViewAllPlayers(teamDetails)"></button>
                            </div>

                        </div>
                        <div class="card-section budget-section">
                            <span>
                                View budget
                            </span>
                            <div>
                                <button type="button" pButton icon="pi" label="Budget" disabled></button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="team-statics-section">
                        We are 100 % win
                    </div> -->
                    <div class="team-section">
                        <!-- <p>{{teamDetails.WinsRatio}}</p> -->
                        <!-- <script type="text/javascript">
                            console.log("Nikhil" + teamDetails.WinsRatio);
                            const thoka = {
                                labels: ['Win Percentage', 'Lose Percentage'],
                                datasets: [
                                    {
                                        data: [winRatio, 100 - winRatio],
                                        backgroundColor: [
                                            "#42A5F5",
                                            "#66BB6A",
                                        ],
                                        hoverBackgroundColor: [
                                            "#64B5F6",
                                            "#81C784",
                                        ]
                                    }
                                ]
                            }

                        </script> -->
                        <div class="graph-section">
                            <p-chart type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '80%'}">
                            </p-chart>
                        </div>
                        <div class="details-section">
                            <p>
                                <strong>Team Id : </strong> {{teamDetails.GroupId}}
                            </p>
                            <p>
                                <strong>Team Name : </strong> {{teamDetails.GroupName}}
                            </p>
                            <p>
                                <strong>Max Team size : </strong> {{teamDetails.MaxGroupSize}}
                            </p>
                            <p>
                                <strong>Owner Name : </strong> {{teamDetails.SponsorName}}
                            </p>
                            <p>
                                <strong>Contact Email : </strong> {{teamDetails.SponsorEmail}}
                            </p>
                            <p>
                                <strong>Contact Phone : </strong> {{teamDetails.SponsorPhone}}
                            </p>
                            <p>
                                <strong>Team Size : </strong> {{teamDetails.Members?.length}}
                            </p>
                            <div class="button-section">
                                <div>
                                    <button type="button" pButton label="Edit" icon="pi pi-user-edit"
                                        (click)="openEditGroupDetailsPopUp(teamDetails)"></button>
                        </div>
                                <div>
                                    <button type="button" pButton label="Delete" icon="pi pi-trash"
                                        class="p-button-danger"
                                        (click)="openDeleteGroupDetailsPopUp(teamDetails)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
    
            </p-tabView>
            <div *ngIf="allTeams?.length==0">
                <div class="card-section no-team-section">
                    <span>
                        Please add a Team first
                    </span>
                    <!-- <div> -->
                        <!-- <button
                            [disabled]="myOrganisationdata?.MaxGroupSize && myOrganisationdata?.Members && (myOrganisationdata?.MaxGroupSize==myOrganisationdata?.Members?.length)"
                            type="button" pButton icon="pi " label="Add Player" (click)="openAddPlayerDialog()"></button> -->
                        <!-- disabled -->
                    <!-- </div> -->
    
                </div>
            </div>
            <!-- <p-tabView [scrollable]="true">
                <p-tabPanel header="Header 1">
                  
                </p-tabPanel>
                <p-tabPanel header="Header 2">
                    Content 2
                </p-tabPanel>
                <p-tabPanel header="Header 3">
                    Content 3
                </p-tabPanel> 
            </p-tabView> -->
        </div>
    <p-dialog header="Add Team" [(visible)]="isAddTeamModalOpen">
        <form [formGroup]="groupForm" (submit)="saveGroupDetails()">
    
            <!-- <span class="p-float-label">
                <label for="group-name">Team Name:</label>
            </span> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Team Name:</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" id="group-name" class="p-inputtext-sm" pInputText placeholder="Team Name" formControlName="GroupName">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('GroupName')?.invalid && (groupForm.get('GroupName')?.dirty || groupForm.get('GroupName')?.touched)) &&  groupForm.get('GroupName')?.hasError('required')">
                Please enter valid team name
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Organization Name:</label>
    
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" id="org-name" class="p-inputtext-sm" pInputText placeholder="Organization Name" formControlName="OrganizationName" readonly  >
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('OrganizationName')?.invalid && (groupForm.get('OrganizationName')?.dirty || groupForm.get('OrganizationName')?.touched)) &&  groupForm.get('OrganizationName')?.hasError('required')">
                Please enter valid organization name
            </div>
            <!-- <div>
                <label for="org-name">Organization Name: </label>
                <input id="org-name" type="text" formControlName="OrganizationName" readonly>
            </div> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Max Team Size:</label>

                    <div class="p-inputgroup">
                        <!-- <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> -->
                        <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="MaxGroupSize" [min]="1" [max]="20"></p-inputNumber>
                        <!-- <input type="text" id="org-name" class="p-inputtext-sm" pInputText placeholder="Organization Name" formControlName="OrganizationName" readonly> -->
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('MaxGroupSize')?.invalid && (groupForm.get('MaxGroupSize')?.dirty || groupForm.get('MaxGroupSize')?.touched)) && groupForm.get('MaxGroupSize')?.value >20 &&  groupForm.get('MaxGroupSize')?.hasError('required')">
                Please select valid group size
            </div>
            
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Owner Name:</label>
    
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" id="owner-name" class="p-inputtext-sm" pInputText placeholder="Owner Name" formControlName="SponsorName" >
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorName')?.invalid && (groupForm.get('SponsorName')?.dirty || groupForm.get('SponsorName')?.touched)) &&  groupForm.get('SponsorName')?.hasError('required')">
                Please enter valid owner name
            </div>
            <!-- <div>
                <label for="owner-name">Owner Name: </label>
                <input id="owner-name" type="text" formControlName="SponsorName">
            </div> -->

            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label  for="contact-email">Contact Email:</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="email" id="contact-email" class="p-inputtext-sm" pInputText placeholder="Contact Email" formControlName="SponsorEmail">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorEmail')?.invalid && (groupForm.get('SponsorEmail')?.dirty || groupForm.get('SponsorEmail')?.touched)) &&  groupForm.get('SponsorEmail')?.hasError('required')">
                Please enter valid email
            </div>
            <!-- <div>
                <label for="contact-email">Contact Email: </label>
                <input id="contact-email" type="email" formControlName="SponsorEmail">
            </div> -->

            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label for="contact-phone">Contact Phone: </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input tyid="contact-phone" type="tel" class="p-inputtext-sm" pInputText placeholder="Phone Number" formControlName="SponsorPhone">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorPhone')?.invalid && (groupForm.get('SponsorPhone')?.dirty || groupForm.get('SponsorPhone')?.touched)) &&  groupForm.get('SponsorPhone')?.hasError('required')">
                Please enter valid phone number
            </div>
            <!-- <div>
                <label for="contact-phone">Contact Phone: </label>
                <input id="contact-phone" type="tel" formControlName="SponsorPhone">
            </div> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Win Percentage:</label>

                    <div class="p-inputgroup">
                        <!-- <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> -->
                        <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="WinsRatio" [min]="0" [max]="100"></p-inputNumber>
                        <!-- <input type="text" id="org-name" class="p-inputtext-sm" pInputText placeholder="Organization Name" formControlName="OrganizationName" readonly> -->
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('WinsRatio')?.invalid && (groupForm.get('WinsRatio')?.dirty || groupForm.get('WinsRatio')?.touched)) && groupForm.get('WinsRatio')?.value >20 &&  groupForm.get('MaxGroupSize')?.hasError('required')">
                Please select valid group size
            </div>
            <div>
                <button type="submit" pButton label="Save"></button>
            </div>
    
        </form>
    </p-dialog>
    
    <p-dialog header="Delete Team" [(visible)]="isDeleteGroupModalOpen">
        <form [formGroup]="groupForm" (submit)="deleteGroup()">
            <!-- <div>
                <label for="group-id" >Group Id: </label>
                <input id="group-id" type="text" formControlName="GroupId" >
            </div> -->
            <span>
                Do you want to Delete Team
            </span>
            <label for="group-name">Team Name: </label>
            <input id="group-name" type="text" formControlName="GroupName">
            <div>
                <button pButton label="Delete" icon="pi pi-trash" class="p-button-danger" type="submit"></button>
            </div>
        </form>
    </p-dialog>
    
    <p-dialog header="Edit Group" [(visible)]="isEditGroupModalOpen">
        <form [formGroup]="groupForm" (submit)="saveGroupDetails()">
            <!-- <div>
                <label for="group-id" >Group Id: </label>
                <input id="group-id" type="text" formControlName="GroupId" >
            </div> -->
    
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Team Name:</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" id="group-name" class="p-inputtext-sm" pInputText placeholder="Team Name" formControlName="GroupName">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('GroupName')?.invalid && (groupForm.get('GroupName')?.dirty || groupForm.get('GroupName')?.touched)) &&  groupForm.get('GroupName')?.hasError('required')">
                Please enter valid team name
            </div>
            <!-- <div>
                <label for="group-name">Group Name: </label>
                <input id="group-name" type="text" formControlName="GroupName">
            </div> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Team Size:</label>

                    <div class="p-inputgroup">
                        <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="MaxGroupSize" [min]="1" [max]="20"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('MaxGroupSize')?.invalid && (groupForm.get('MaxGroupSize')?.dirty || groupForm.get('MaxGroupSize')?.touched)) && groupForm.get('MaxGroupSize')?.value >20 &&  groupForm.get('MaxGroupSize')?.hasError('required')">
                Please select valid group size
            </div>
            
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Owner Name:</label>
    
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" id="owner-name" class="p-inputtext-sm" pInputText placeholder="Owner Name" formControlName="SponsorName" >
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorName')?.invalid && (groupForm.get('SponsorName')?.dirty || groupForm.get('SponsorName')?.touched)) &&  groupForm.get('SponsorName')?.hasError('required')">
                Please enter valid owner name
            </div>
            <!-- <div>
                <label for="group-size">Max Group size: </label>
                <input id="group-size" type="number" formControlName="MaxGroupSize">
            </div>
            <div>
                <label for="owner-name">Owner Name: </label>
                <input id="owner-name" type="text" formControlName="SponsorName">
            </div> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label  for="contact-email">Contact Email:</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="email" id="contact-email" class="p-inputtext-sm" pInputText placeholder="Contact Email" formControlName="SponsorEmail">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorEmail')?.invalid && (groupForm.get('SponsorEmail')?.dirty || groupForm.get('SponsorEmail')?.touched)) &&  groupForm.get('SponsorEmail')?.hasError('required')">
                Please enter valid email
            </div>
            <!-- <div>
                <label for="contact-email">Contact Email: </label>
                <input id="contact-email" type="email" formControlName="SponsorEmail">
            </div> -->

            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label for="contact-phone">Contact Phone: </label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input tyid="contact-phone" type="tel" class="p-inputtext-sm" pInputText placeholder="Phone Number" formControlName="SponsorPhone">
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('SponsorPhone')?.invalid && (groupForm.get('SponsorPhone')?.dirty || groupForm.get('SponsorPhone')?.touched)) &&  groupForm.get('SponsorPhone')?.hasError('required')">
                Please enter valid phone number
            </div>
            <!-- <div>
                <label for="contact-email">Contact Email: </label>
                <input id="contact-email" type="text" formControlName="SponsorEmail">
            </div>
            <div>
                <label for="contact-phone">Contact Phone: </label>
                <input id="contact-phone" type="text" formControlName="SponsorPhone">
            </div> -->
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label>Win Percentage:</label>

                    <div class="p-inputgroup">
                        <!-- <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> -->
                        <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="WinsRatio" [min]="0" [max]="100"></p-inputNumber>
                        <!-- <input type="text" id="org-name" class="p-inputtext-sm" pInputText placeholder="Organization Name" formControlName="OrganizationName" readonly> -->
                    </div>
                </div>
            </div>
            <div class="error"
                *ngIf="(groupForm.get('WinsRatio')?.invalid && (groupForm.get('WinsRatio')?.dirty || groupForm.get('WinsRatio')?.touched)) && groupForm.get('WinsRatio')?.value >20 &&  groupForm.get('MaxGroupSize')?.hasError('required')">
                Please select valid group size
            </div>
            <div>
                <button type="submit" pButton label="Save"></button>
            </div>
        </form>
    </p-dialog>
</section>
<app-add-team [isAddTeamModalOpen]="isAddPlayerModalOpen" [teamDetails]="selectedTeamDetails" [organizationId]="organizationId" (onPlayerAdd)="onPlayerAdd($event)"></app-add-team>