<section class="org-teams-tab">
    <div class="add-team-container">
        <button [disabled]="teamDetails?.MaxGroupSize && teamDetails?.Members && (teamDetails?.MaxGroupSize==teamDetails?.Members?.length)"
        type="button" pButton label="Add Player"
        (click)="openAddPlayerDialog()"></button>
    </div>
    <!-- <div class="team-nav-bar">
        <app-nav-bar> </app-nav-bar>
    </div> -->
    <div class="team-tab-menu">
        <p-tabView (onChange)="getPerformaceRatio(($event))" [(activeIndex)]="selectedIndex" >
            <p-tabPanel [header]="memberDetails.MemberName" *ngFor="let memberDetails of teamDetails.Members; let i = index"
           >
                <div class="content-section">
                    <div class="team-details-section">

                        <div class="img-section view-players-section">

                            <p-image [src]="memberDetails.ImageUrl" alt="Image" width="80%">
                                <ng-template pTemplate="indicator">
                                    Indicator Content
                                </ng-template>
                            </p-image>


                        </div>
                        <!-- <div class=" details-section">
                           
                            <div> -->
                        <div class="details-section">
                            <p>
                                Player Details
                            </p>
                            <p>
                                <strong>Player Id : </strong> {{memberDetails.MemberId}}
                                <!-- </p>
                                    <p> -->
                                <strong>Player Name : </strong> {{memberDetails.MemberName}}
                            </p>
                            <!-- <p>
                                    <strong>Max Team size : </strong> {{memberDetails.Me}}
                                </p> -->
                            <!-- <p>
                                    <strong>Owner Name : </strong> {{teamDetails.SponsorName}}
                                </p> -->
                            <p>
                                <strong>Player Email : </strong> {{memberDetails.MemberEmail}}
                                <!-- </p>
                                    <p> -->
                                <strong>Player Phone : </strong> {{memberDetails.MemberPhone}}
                            </p>
                            <p>
                                <strong>Age : </strong> {{memberDetails.age}}
                            </p>
                            <div class="button-section">
                                <div>
                                    <button type="button" pButton label="Edit" icon="pi pi-user-edit"
                                        (click)="openEditGroupDetailsPopUp(memberDetails)"></button>
                                </div>
                                <div>
                                    <button type="button" pButton label="Delete" icon="pi pi-trash"
                                        class="p-button-danger"
                                        (click)="openDeleteGroupDetailsPopUp(memberDetails)"></button>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div> -->
                <!-- <div class="card-section add-player-section">
                            <div>
                                <button [disabled]="teamDetails?.MaxGroupSize && teamDetails?.Members && (teamDetails?.MaxGroupSize==teamDetails?.Members?.length)" type="button" pButton icon="pi " label="Add Player"
                                    (click)="openAddPlayerDialog()"></button>
                            </div>
                
                        </div> -->
    </div>
    <!-- <div class="team-statics-section">
        We are 100 % win
    </div> -->
    <div class="team-section">
        <div class="graph-section">
            <p-chart type="pie" [data]="data" [options]="chartOptions" [style]="{'width': '80%'}">
            </p-chart>
        </div>
        <div class="details-section">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fuga quis officiis quae accusantium voluptatum tempore iure odio labore quos cupiditate saepe id, dolore repellat fugit molestias fugiat libero molestiae.</p>
        </div>
    </div>
    </div>
    </p-tabPanel>

    </p-tabView>
    <div *ngIf="teamDetails?.Members?.length==0">
        <div class="card-section add-player-section">
            <span>
                Add player
            </span>
            <div>
                <button
                    [disabled]="teamDetails?.MaxGroupSize && teamDetails?.Members && (teamDetails?.MaxGroupSize==teamDetails?.Members?.length)"
                    type="button" pButton icon="pi pi-user-plus" label="Add Player" (click)="openAddPlayerDialog()"></button>
                <!-- disabled -->
            </div>

        </div>
    </div>
    <!-- <p-tabView [scrollable]="true">
            <p-tabPanel header="Header 1">
              
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel> 
        </p-tabView> -->
    </div>
</section>

<!-- <div>
    <button
        type="button" pButton icon="pi " label="Add Player" (click)="openAddPlayerDialog()"></button> -->
    <!-- disabled -->
<!-- </div> -->
<p-dialog header="Delete Group" [(visible)]="isDeleteGroupModalOpen">
    <form [formGroup]="teamMemberForm" (submit)="deleteGroup()">
        <!-- <div>
            <label for="group-id" >Group Id: </label>
            <input id="group-id" type="text" formControlName="GroupId" >
        </div> -->
        <span>
            Do you want to Delete Group
        </span>
        <label for="group-name">Player Name: </label>
        <input id="group-name" type="text" formControlName="MemberName">
        <div>
            <button pButton label="Delete" icon="pi pi-trash" class="p-button-danger" type="submit"></button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Edit Group" [(visible)]="isEditGroupModalOpen">
    <form [formGroup]="teamMemberForm" (submit)="saveMemberDetails()">

        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label for="player-name">Name:</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" id="player-name" class="p-inputtext-sm" pInputText placeholder="Player Name" formControlName="MemberName">
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('MemberName')?.invalid && (teamMemberForm.get('MemberName')?.dirty || teamMemberForm.get('MemberName')?.touched)) &&  teamMemberForm.get('MemberName')?.hasError('required')">
            Please enter valid name
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label for="contact-email">Email:</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="email" id="contact-email" class="p-inputtext-sm" pInputText placeholder="Player Email" formControlName="MemberEmail">
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('MemberEmail')?.invalid && (teamMemberForm.get('MemberEmail')?.dirty || teamMemberForm.get('MemberEmail')?.touched)) &&  teamMemberForm.get('MemberEmail')?.hasError('required')">
            Please enter valid email
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label for="contact-phone">Mobile:</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="email" id="contact-phone" class="p-inputtext-sm" pInputText placeholder="Phone Number" formControlName="MemberPhone">
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('MemberPhone')?.invalid && (teamMemberForm.get('MemberPhone')?.dirty || teamMemberForm.get('MemberPhone')?.touched)) &&  teamMemberForm.get('MemberPhone')?.hasError('required')">
            Please enter valid phone number
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label for="player-age">Age:</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="number" id="player-age" class="p-inputtext-sm" pInputText placeholder="Age" formControlName="age">
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('age')?.invalid && (teamMemberForm.get('age')?.dirty || teamMemberForm.get('age')?.touched)) &&  teamMemberForm.get('age')?.hasError('required')">
            Please enter valid age
        </div>

        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label>Good Performaces:</label>
                <div class="p-inputgroup">
                    <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="PerformanceGood" [min]="1" [max]="100"></p-inputNumber>
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('PerformanceGood')?.invalid && (teamMemberForm.get('PerformanceGood')?.dirty || teamMemberForm.get('PerformanceGood')?.touched)) &&  teamMemberForm.get('PerformanceGood')?.hasError('required')">
            Please enter valid data
        </div>

        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label>Bad Performaces:</label>
                <div class="p-inputgroup">
                    <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="PerformanceBad" [min]="1" [max]="100"></p-inputNumber>
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('PerformanceBad')?.invalid && (teamMemberForm.get('PerformanceBad')?.dirty || teamMemberForm.get('PerformanceBad')?.touched))  &&  teamMemberForm.get('PerformanceBad')?.hasError('required')">
            Please enter valid data
        </div>

        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <label>Average Performaces:</label>
                <div class="p-inputgroup">
                    <p-inputNumber class="p-inputtext-sm" [showButtons]="true"  formControlName="PerformanceAverage" [min]="1" [max]="100"></p-inputNumber>
                </div>
            </div>
        </div>
        <div class="error"
            *ngIf="(teamMemberForm.get('PerformanceAverage')?.invalid && (teamMemberForm.get('PerformanceAverage')?.dirty || teamMemberForm.get('PerformanceAverage')?.touched))  &&  teamMemberForm.get('PerformanceGood')?.hasError('required')">
            Please enter valid data
        </div>
        <div>
            <button type="submit" pButton label="Save"></button>
        </div>
    </form>
</p-dialog>
<app-add-team [isAddTeamModalOpen]="isAddTeamModalOpen" [teamDetails]="teamDetails" [organizationId]="organizationId" (onPlayerAdd)="onPlayerAdd($event)"></app-add-team>